<!-- HUBSPOT_PARTIAL_MARKER: {{ now.Unix }} -->
<!-- HUBSPOT_PARAMS: portal={{ .Site.Params.hubspotPortalId }} form={{ .Site.Params.hubspotFormId }} -->


{{ $portalId := .Site.Params.hubspotPortalId  }}
{{ $formId := .Site.Params.hubspotFormId  }}
{{ $target := "hubspot-form" }}
{{ $lang := .Site.Language.Lang }}


<div id="{{ $target }}" class="hubspot-form-container"></div>

<script charset="utf-8" type="text/javascript" src="https://js-eu1.hsforms.net/forms/embed/v2.js" defer></script>
<script>
  (function initHubspotForm() {
    if (!window.hbspt || !window.hbspt.forms || !window.hbspt.forms.create) {
      setTimeout(initHubspotForm, 50);
      return;
    }

    window.hbspt.forms.create({
      region: "eu1",
      portalId: "{{ $portalId }}",
      formId: "{{ $formId }}",
      target: "#{{ $target }}",
      onFormReady: function($form) {
        try {
          var formEl = $form && $form[0] ? $form[0] : $form;
          if (!formEl) return;

          var langField = formEl.querySelector('input[name="language"]');
          if (langField) langField.value = "{{ $lang }}";

          var sourceField = formEl.querySelector('input[name="source_page"]');
          if (sourceField) sourceField.value = "openmedgate";
        } catch (e) {}
      }
    });
  })();
</script>

